* {
   margin : 0;
   padding : 0;
   
   }

   body {
     display:flex;
     flex-direction:column;
     justify-content: center;
     align-items: center;
     height:100vh;
     background-color:lavender;
   }

   .title {
     font-size:55px;
     color:darkcyan;
     user-select:none;
   }

   .face {
     cursor:pointer;
     user-select:none;
   }

   .closed {
     display:none;
   }

   .open {
     display:none;
   }

   .active {
     display: block;
   }
